body {
  background-color: #fff;
}

.no-display {
  display: none;
}

.center {
  margin: auto;
  padding: 10px 50px;
  text-align: center;
  font-size: 14px;
}

.title {
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #262626;
}

.content {
  margin-top: 10em;
}

.analyze {
  margin-top: 5em;
}

.upload-label {
  padding: 10px;
  font-size: 12px;
}

.result-label {
  margin-top: 0.5em;
  padding: 10px;
  font-size: 13px;
}

.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
  border: solid 1px #7052cb;
  font-size: 13px;
  color: #7052cb;
}

.analyze-button {
  width: 200px;
  height: 40px;
  border: solid 1px #7052cb;
  border-radius: 2px;
  background-color: #7052cb;
  font-size: 13px;
  color: #fff;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #9885d0;
}

button:focus {
  outline: 0;
}
